<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.domain.model.Customer">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="phone" property="phone" />
        <result column="customer_pwd" property="customerPwd" />
        <result column="gender" property="gender" />
        <result column="identity" property="identity" />
        <result column="professsion" property="professsion" />
        <result column="area" property="area" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="remove_flag" property="removeFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, customer_name, phone, customer_pwd, gender, identity, professsion, area, avatar, create_time, last_login_time, last_login_ip, remove_flag
    </sql>

</mapper>
