<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.CustomerInteractionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.entity.CustomerInteraction">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="title_type" property="titleType" />
        <result column="content" property="content" />
        <result column="report_status" property="reportStatus" />
        <result column="like_count" property="likeCount" />
        <result column="create_time" property="createTime" />
        <result column="ip" property="ip" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, title_type, content, report_status, like_count, create_time, ip, flag
    </sql>

</mapper>
