<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.CustomerInteractionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.domain.model.CustomerInteraction">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="content" property="content" />
        <result column="report_status" property="reportStatus" />
        <result column="like_count" property="likeCount" />
        <result column="create_time" property="createTime" />
        <result column="ip" property="ip" />
        <result column="img" property="img" />
        <result column="title" property="title" />
        <result column="title" property="title_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, title, content, report_status, like_count, create_time, ip, img
    </sql>
    <resultMap id="result" type="se.xmut.trahrs.domain.model.Customer">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="avatar" property="avatar" />
        <collection property="customerInteractionList" ofType="se.xmut.trahrs.domain.model.CustomerInteraction">
            <id property="id" column="id"/>
            <result column="content" property="content"/>
            <result column="title" property="title"/>
            <result column="like_count" property="likeCount"/>
        </collection>
    </resultMap>
    <select id="findCustomerInteraction"  resultMap="result">
        select c.customer_id,customer_name,avatar,like_count,title,content from customer as c,customer_interaction as ci where c.customer_id=ci.customer_id
         order by like_count desc
    </select>
    <select id="findCustomerInteractionCreateTime"  resultMap="result">
        select c.customer_id,customer_name,avatar,like_count,title,content from customer as c,customer_interaction as ci where c.customer_id=ci.customer_id
         order by ci.create_time desc
    </select>
</mapper>
