<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.ItemBasedCfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.domain.model.ItemBasedCf">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="scene_id" property="sceneId" />
        <result column="value" property="value" />
        <result column="timestamp" property="timestamp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, scene_id, `value`, `timestamp`
    </sql>

</mapper>
