<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.RestaurantCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.domain.model.RestaurantComment">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="customer_id" property="customerId" />
        <result column="restaurant_id" property="restaurantId" />
        <result column="content" property="content" />
        <result column="star" property="star" />
        <result column="comment_time" property="commentTime" />
        <result column="report_status" property="reportStatus" />
        <result column="img_url" property="imgUrl" />
        <result column="edit_status" property="editStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment_id, customer_id, restaurant_id, content, star, comment_time, report_status, img_url, edit_status
    </sql>

</mapper>
