<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.SceneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.domain.model.Scene">
        <id column="id" property="id" />
        <result column="scene_id" property="sceneId" />
        <result column="scene_name" property="sceneName" />
        <result column="scene_area" property="sceneArea" />
        <result column="scene_price" property="scenePrice" />
        <result column="scene_info" property="sceneInfo" />
        <result column="view_count" property="viewCount" />
        <result column="create_time" property="createTime" />
        <result column="open_time" property="openTime" />
        <result column="location" property="location" />
        <result column="check_status" property="checkStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scene_id, scene_name, scene_area, scene_price, scene_info, view_count, create_time, open_time, location, check_status
    </sql>

</mapper>
