<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.xmut.trahrs.mapper.SceneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="se.xmut.trahrs.domain.model.Scene">
        <id column="id" property="id" />
        <result column="scene_id" property="sceneId" />
        <result column="name" property="name" />
        <result column="location" property="location" />
        <result column="type" property="type" />
        <result column="p_name" property="pName" />
        <result column="city_name" property="cityName" />
        <result column="ad_name" property="adName" />
        <result column="address" property="address" />
        <result column="p_code" property="pCode" />
        <result column="city_code" property="cityCode" />
        <result column="ad_code" property="adCode" />
        <result column="opentime_week" property="opentimeWeek" />
        <result column="tel" property="tel" />
        <result column="rec_tag" property="recTag" />
        <result column="key_tag" property="keyTag" />
        <result column="cost" property="cost" />
        <result column="alias" property="alias" />
        <result column="navi_poiid" property="naviPoiid" />
        <result column="entr_location" property="entrLocation" />
        <result column="exit_location" property="exitLocation" />
        <result column="grid_code" property="gridCode" />
        <result column="photos" property="photos" />
        <result column="rating" property="rating" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scene_id, `name`, location, `type`, p_name, city_name, ad_name, address, p_code, city_code, ad_code, opentime_week, tel, rec_tag, key_tag, cost, alias, navi_poiid, entr_location, exit_location, grid_code, photos, rating
    </sql>
    
    <select id="getPageByType" resultType="se.xmut.trahrs.domain.model.Scene" parameterType="java.lang.Object">
        select * from scene
        order by case when(
            scene_id in
            (select scene_id
             from scene
            where
            <trim suffixOverrides="or">
                <foreach collection="typeList" item="type">
                    type like concat('%', #{type}, '%') or
                </foreach>
            </trim>)
        )then 0 else 1 end, rating desc
        limit #{pageStart}, #{pageSize}
    </select>

    <sql id="foreachPK">
        <foreach collection="recommendItems" item="pk" open="(" close=")" separator=",">
            #{pk}
        </foreach>
    </sql>

    <select id="getPageByPK" resultType="se.xmut.trahrs.domain.model.Scene">
        select * from scene
        order by case when(
        id in <include refid="foreachPK"></include>
        )then 0 else 1 end, rating desc, field<include refid="foreachPK"></include>
        limit #{pageStart}, #{pageSize}
    </select>

</mapper>
